@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}

@keyframes brightnessBackground {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}

.animate-zoom {
  animation: brightnessBackground 10s infinite;
}
